body{
    background-color:#f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
display: flex;
justify-content: center;
align-items: center;
width: 50%;
background-color: white;
margin-top: 10%;
position: relative;
height: 400px;
box-shadow: 0px 0px 5px rgba(0, 0 ,0,0.5);
border-radius: 10px;
}
#myForm{
    display: flex;
    flex-direction:column;
    padding: 20px;
    width: 100%;
    margin-top:auto;
    margin-bottom: auto;
}
#myForm input{
    margin: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#myForm h4{
    text-align: center;
}
#myForm input[type='submit']{
    background-color:rgb(22, 22, 138);
    border: whitesmoke;
    color: white;
    width: 30%;
    border-radius: 10px;
    height: 60px;
    cursor: pointer;
    
}
#myForm p{
    text-align: center;
    color: rgb(134, 132, 132);
}