body{
    background-color:#f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
display: flex;
width: 30%;
background-color: white;
margin-top: 10px;
position: relative;
height: 500px;
box-shadow: 0px 0px 5px rgba(0, 0 ,0,0.5);
border-radius: 10px;
}
#myForm{
    display: flex;
    flex-direction:column;
    padding: 20px;
    width: 100%;
  
}
#myForm .dataInput{
    display: grid;
    flex-direction: row;
    width: 100%;
    grid-template-columns: 1fr 1fr;

}
#myForm input{
    margin:0px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#myForm label{
    margin-top: 20px;
}
#myForm h4{
    text-align: center;
}
#myForm input[type='submit']{
    background-color:rgb(9, 82, 41);
    border: none;
    color: white;
    width: 30%;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
    
}
#myForm p{
    text-align: center;
    color: rgb(134, 132, 132);
}